:host {
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.center-header {
  flex: 0 0 60%;
}
.tab-headers {
  display: flex;
  width: 100%;
}
.active-indicator-container {
  width: 100%;
  display: flex;
}
.active-indicator {
  border-bottom: 2px solid blue;
  flex: 0 0 33%;
  transform: translateX(calc(var(--translate-x) * -100%));
}
app-swiper-tab-header {
  flex: 0 0 33.33%;
}
.tab-body {
  width: 100%;
  overflow-x: hidden;
}
.tabs {
  width: 100%;
  display: flex;
  transform: translateX(calc(var(--translate-x) * 100%));
}
.tab-content {
  width: 100%;
  flex: 100% 0 0;
  user-select: none;
}
