:host {
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
}
app-swiper-tab-header {
  flex: 0 0 20%;
}
.tab-body {
  width: 100%;
  overflow-x: hidden;
}
.tabs {
  width: 100%;
  display: flex;
  transform: translateX(calc(var(--translate-x) * 1px));
}
.tab-content {
  width: 100%;
  flex: 100% 0 0;
}
